---
import BaseLayout from "../../layouts/base-layout.astro";
import PostStack from "../../components/post-stack.astro";
import { getCollection } from "astro:content";
import { uniqueLowerCaseTags } from "../../scripts/utils";

const { tag } = Astro.params;
const filteredPosts = await getCollection("posts", (post) =>
  uniqueLowerCaseTags(post.data.tags).includes(tag!)
);

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = uniqueLowerCaseTags(posts.map((post) => post.data.tags).flat());
  return tags.map((tag) => ({ params: { tag: tag } }));
}
---

<BaseLayout>
  <article>
    <h1 class="text-4xl font-black text-dracula-light mb-10 mx-auto">
      Posts with tag
      <code class="bg-dracula-dark text-dracula-purple px-4 py-2">{tag}</code>
    </h1>
    <PostStack posts={filteredPosts} />
  </article>
</BaseLayout>
