---
import BaseLayout from "../../layouts/base-layout.astro";
import PostStack from "../../components/post-stack.astro";
import { getCollection } from "astro:content";
import { getUniqueLowerCaseTagMap } from "../../scripts/utils";

const { tag } = Astro.params;
const filteredPosts = await getCollection("posts", (post) =>
  getUniqueLowerCaseTagMap(post.data.tags).get(tag),
);

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = getUniqueLowerCaseTagMap(
    posts.map((post) => post.data.tags).flat(),
  );
  return Array.from(tags.keys()).map((tag) => ({ params: { tag } }));
}
---

<BaseLayout>
  <article>
    <h1 class="text-4xl font-black text-dracula-light mb-10 mx-auto">
      Posts with tag
      <code class="bg-dracula-dark text-dracula-purple px-4 py-2">{tag}</code>
    </h1>
    <PostStack posts={filteredPosts} />
  </article>
</BaseLayout>
