---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostStack from "../../components/post-stack.astro";
import { getCollection } from "astro:content";
import { uniqueLowerCaseTags } from "../../scripts/utils";

const { tag } = Astro.params;
const filteredPosts = await getCollection("posts", (post) =>
  uniqueLowerCaseTags(post.data.tags).includes(tag!),
);

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = uniqueLowerCaseTags(posts.map((post) => post.data.tags).flat());
  return tags.map((tag) => ({ params: { tag: tag } }));
}
---

<BaseLayout>
  <article>
    <h1 class="mb-10 mx-auto text-foreground">
      Posts with tag
      <code>{tag}</code>
    </h1>
    <PostStack posts={filteredPosts} />
  </article>
</BaseLayout>
