---
import BaseLayout from "../../layouts/base-layout.astro";
import TagLink from "../../components/tag-link.astro";
import { getCollection } from "astro:content";
import { uniqueLowerCaseTags } from "../../scripts/utils";

const allPosts = await getCollection("posts");
const tags = uniqueLowerCaseTags(allPosts.map((post) => post.data.tags).flat());
---

<BaseLayout>
  <div class="flex flex-wrap gap-2">
    {
      Array.from(tags.entries())
        .sort((a, b) => b[1] - a[1])
        .map(([tag, count]) => (
          <TagLink class="block" tag={tag} count={count} />
        ))
    }
  </div>
</BaseLayout>
