---
import BaseLayout from "../../layouts/base-layout.astro";
import LabelTag from "../../components/label-tag.tsx";
import { getCollection } from "astro:content";
import { getUniqueLowerCaseTagMap } from "../../scripts/utils";

const allPosts = await getCollection("posts");
const tags = getUniqueLowerCaseTagMap(
  allPosts.map((post) => post.data.tags).flat(),
);
---

<BaseLayout>
  <div class="flex flex-wrap gap-2">
    {
      Array.from(tags.entries())
        .sort((a, b) => b[1] - a[1])
        .map(([tag, count]) => (
          <LabelTag label={tag} count={count} type="link" />
        ))
    }
  </div>
</BaseLayout>
