---
import "@fontsource-variable/montserrat";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/400-italic.css";
import PostCard from "../components/post-card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Blog</title>
  </head>
  <body
    class="bg-background text-foreground font-serif mx-auto max-w-3xl py-12"
  >
    <header class="mb-14 flex place-content-between px-5">
      <h1 class="font-sans font-black text-2xl">Astro Blog</h1>
      <p class="italic">by BlockLune</p>
    </header>
    <main>
      <PostCard
        title="Hello, Astro!"
        date="2021-10-01"
        description="Welcome to Astro!"
      />
      <PostCard
        title="Astro is out of this world!"
        date="2021-10-02"
        description="Astro is a new static site generator."
      />
    </main>
  </body>
</html>
