---
import "@fontsource-variable/montserrat";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/400-italic.css";
import PostCard from "../components/post-card.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

function getDescription(content: string) {
  let moreMark = content.indexOf("<!--more-->");
  if (moreMark === -1) {
    moreMark = content.indexOf("<!-- more -->");
  }
  if (moreMark === -1) {
    return content.slice(0, 50) + "...";
  }
  return content.slice(0, moreMark);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Blog</title>
  </head>
  <body
    class="bg-background text-foreground font-serif mx-auto max-w-3xl py-12"
  >
    <header class="mb-14 flex place-content-between px-5">
      <h1 class="font-sans font-black text-2xl">Astro Blog</h1>
      <p class="italic">by BlockLune</p>
    </header>
    <main>
      {
        allPosts.map((post) => (
          <PostCard
            title={post.data.title}
            date={post.data.date.toISOString().slice(0, 10)}
            description={getDescription(post.body)}
          />
        ))
      }
    </main>
  </body>
</html>
