---
import TagLink from "./tag-link.astro";
import DateTag from "./date-tag.astro";
import Prose from "./prose.astro";
import { render } from "astro:content";
import { uniqueLowerCaseTags } from "../scripts/utils";
const { post } = Astro.props;
const { Content } = await render(post);
---

<article>
  <h1 class="text-dracula-pink font-black text-4xl">{post.data.title}</h1>

  <div class="flex items-center gap-2 mt-4">
    <DateTag date={post.data.date} />
    {
      uniqueLowerCaseTags(post.data.tags).map((tag: string) => (
        <TagLink tag={tag} />
      ))
    }
  </div>

  <div class="mt-10">
    <Prose>
      <Content />
    </Prose>
  </div>
</article>

<script>
  let copyButtonLabel = "Copy";
  let codeBlocks = Array.from(document.querySelectorAll("pre"));

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement("div");
    wrapper.style.position = "relative";
    let copyButton = document.createElement("button");
    copyButton.className = "copy-code";
    copyButton.innerHTML = copyButtonLabel;

    codeBlock.setAttribute("tabindex", "0");
    codeBlock.appendChild(copyButton);

    codeBlock.parentNode!.insertBefore(wrapper, codeBlock);
    wrapper.appendChild(codeBlock);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  async function copyCode(block: HTMLElement, button: HTMLElement) {
    let code = block.querySelector("code");
    let text = code?.innerText || "";

    await navigator.clipboard.writeText(text);

    button.innerText = "Copied";

    setTimeout(() => {
      button.innerText = copyButtonLabel;
    }, 1000);
  }
</script>
