---
import PostCard from "./post-card.astro";
import SearchInput from "./search-input.astro";
const { posts } = Astro.props;
---

<!-- TODO: remove `any`s -->
<div class="flex flex-col gap-4">
  <div class="flex flex-col p-4">
    <SearchInput />
  </div>
  <div class="flex flex-col">
    {
      posts
        .sort((a: any, b: any) => {
          const dateA = a.data.updated || a.data.date;
          const dateB = b.data.updated || b.data.date;
          return dateB - dateA;
        })
        .map((post: any) => <PostCard post={post} />)
    }
  </div>
</div>
