---
import BaseLayout from "../../layouts/base-layout.astro";
import Prose from "../../components/prose.astro";
import { getEntry, render } from "astro:content";
import BusinessCard from "../../components/business-card.tsx";
import { ui } from "../../i18n/ui";

const { lang } = Astro.props;
const about = await getEntry("info", `${lang}/about`);
const { Content } = await render(about);

export function getStaticPaths() {
  return Object.keys(ui).map((lang) => ({
    params: { lang: lang as keyof typeof ui },
    props: { lang: lang as keyof typeof ui },
  }));
}
---

<BaseLayout>
  <div class="flex mb-12">
    <BusinessCard client:load />
  </div>
  <Prose>
    <Content />
  </Prose>
</BaseLayout>
