---
import Moon from "@/components/icons/moon.astro";
import Rss from "@/components/icons/rss.astro";
import LanguagePicker from "@/components/language-picker.astro";
import { useTranslations, useTranslatedPath, type Lang } from "@/utils/i18n";
import { SITE } from "@/config";

const { lang } = Astro.props;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class="mb-14 flex flex-col gap-2 justify-center md:flex-row md:justify-between md:items-center"
>
  <div class="flex gap-2 itmes-center justify-center">
    <a
      href={translatePath("/")}
      class="flex items-center justify-center md:justify-start gap-2 font-black text-2xl
          text-dracula-light hover:text-dracula-pink transition"
    >
      <Moon />
      <h1 class="font-black text-2xl">
        {SITE.title[lang as Lang]}
      </h1>
    </a>
    <a
      href="/rss.xml"
      class="hover:text-dracula-orange transition"
      aria-label="RSS Feed"
    >
      <Rss class="w-6 h-6" />
    </a>
  </div>
  <div
    class="flex justify-center md:justify-end items-center gap-4 text-dracula-light"
  >
    <a
      class="hover:text-dracula-pink transition underline underline-offset-4"
      href={translatePath("/")}
    >
      {t("nav.home")}
    </a>
    <a
      class="hover:text-dracula-pink transition underline underline-offset-4"
      href={translatePath("/tags")}
    >
      {t("nav.tags")}
    </a>
    <a
      class="hover:text-dracula-pink transition underline underline-offset-4"
      href={translatePath("/about")}
    >
      {t("nav.about")}
    </a>
    |
    <LanguagePicker />
  </div>
</header>
